In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"A:\Doc\DSMP\Python\DataSets\titanic.csv")

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis=1,inplace=True)
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [4]:
df=df.iloc[:,[1,2,3,4,0]]
df

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [7]:
df['Age']=df['Age'].fillna(df.Age.mean())
df

     Pclass     Sex        Age     Fare  Survived
0         3    male  22.000000   7.2500         0
1         1  female  38.000000  71.2833         1
2         3  female  26.000000   7.9250         1
3         1  female  35.000000  53.1000         1
4         3    male  35.000000   8.0500         0
..      ...     ...        ...      ...       ...
886       2    male  27.000000  13.0000         0
887       1  female  19.000000  30.0000         1
888       3  female  29.699118  23.4500         0
889       1    male  26.000000  30.0000         1
890       3    male  32.000000   7.7500         0

[891 rows x 5 columns]

In [13]:
dummy=pd.get_dummies(df.Sex)
dummy=dummy.replace({False:0,True:1})

In [15]:
df=pd.concat([df,dummy],axis=1)

In [17]:
df.drop(['Sex'],axis=1,inplace=True)

In [19]:
target=df.Survived

In [20]:
features=df.drop(['Survived'],axis=1)

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(features,target,test_size=0.30)

In [24]:
from sklearn.naive_bayes import GaussianNB
mod=GaussianNB()

In [26]:
mod.fit(X_train,y_train)

GaussianNB()

In [27]:
mod.predict(X_test)

array([0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0], dtype=int64)

In [28]:
y_test

548    0
161    1
245    0
134    0
492    0
      ..
351    0
90     0
753    0
527    0
55     1
Name: Survived, Length: 268, dtype: int64

In [29]:
mod.score(X_test,y_test)

0.7798507462686567

In [31]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(GaussianNB(),X_train,y_train,cv=5)

In [34]:
import numpy as np 
np.average(score)

0.7833290322580646