In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\thear\Downloads\carprices(1).csv")
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [ ]:
dummies=pd.get_dummies(df['Car Model'])

In [ ]:
dummies = dummies.replace({True:1,False:0})

In [ ]:
df1=pd.concat([df,dummies],axis=1)
df1

In [ ]:
df1=df1.drop(['Car Model','Mercedez Benz C class'],axis=1)
df1

In [ ]:
df1 = df1.iloc[:,[3,4,0,2,1]]

In [ ]:
x=df1.drop(['Sell Price($)'],axis=1)
y=df1['Sell Price($)']
x

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [ ]:
lr.fit(x,y)

In [ ]:
lr.predict([[0,0,45000,4]])

In [ ]:
lr.score(x,y)

One Hot Encoding

In [22]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [23]:
dfle=df
dfle['Car Model']=lb.fit_transform(df['Car Model'])
dfle=dfle.iloc[:,[0,1,3,2]]
dfle

    Car Model  Mileage  Age(yrs)  Sell Price($)
0           1    69000         6          18000
1           1    35000         3          34000
2           1    57000         5          26100
3           1    22500         2          40000
4           1    46000         4          31500
5           0    59000         5          29400
6           0    52000         5          32000
7           0    72000         6          19300
8           0    91000         8          12000
9           2    67000         6          22000
10          2    83000         7          20000
11          2    79000         7          21000
12          2    59000         5          33000

In [24]:
x=dfle.drop(['Sell Price($)'],axis=1)
y=dfle['Sell Price($)']

In [25]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([('Car Model',OneHotEncoder(),[0])],remainder='passthrough')

In [26]:
x=ct.fit_transform(x)
x = x[:,1:]
x

array([[1.00e+00, 0.00e+00, 6.90e+04, 6.00e+00],
       [1.00e+00, 0.00e+00, 3.50e+04, 3.00e+00],
       [1.00e+00, 0.00e+00, 5.70e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 2.25e+04, 2.00e+00],
       [1.00e+00, 0.00e+00, 4.60e+04, 4.00e+00],
       [0.00e+00, 0.00e+00, 5.90e+04, 5.00e+00],
       [0.00e+00, 0.00e+00, 5.20e+04, 5.00e+00],
       [0.00e+00, 0.00e+00, 7.20e+04, 6.00e+00],
       [0.00e+00, 0.00e+00, 9.10e+04, 8.00e+00],
       [0.00e+00, 1.00e+00, 6.70e+04, 6.00e+00],
       [0.00e+00, 1.00e+00, 8.30e+04, 7.00e+00],
       [0.00e+00, 1.00e+00, 7.90e+04, 7.00e+00],
       [0.00e+00, 1.00e+00, 5.90e+04, 5.00e+00]])

In [27]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [28]:
lr.fit(x,y)

LinearRegression()

In [29]:
lr.score(x,y)

0.9417050937281083